@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor:wght@400&display=swap');

/* Wrapper styles */
.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 4rem;
}

/* Switch button styles */
.switch {
    background: linear-gradient(to right, rgb(54, 38, 78), rgb(249, 245, 255)); 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: calc(380px + .8rem);
    height: calc(100px + .8rem);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
    border: none; 
    outline: none;
    cursor: pointer;
}



/* Button styling */
.button {
    width: 380px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
}

/* Apply Lexend font to the wrapper content */
.wrapper h1 {
    font-family: 'Lexend', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 45.17px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    color: var(--secondary-color);
}

/* Apply Kdam Thmor font to button text */
.button p {
    font-family: 'Kdam Thmor', sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 45.17px;
    letter-spacing: 0.05em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

@media screen and (max-width: 480px) {
    .wrapper {
        gap: 2rem; 
    }

    .switch {
        width: 100%; 
        height: auto; 
        padding: 1rem; 
    }

    .button {
        width: 100%; 
        height: 60px; 
        font-size: 18px; 
    }

    .wrapper h1 {
        font-size: 20px; 
        line-height: 15px;
    }

    .button p {
        font-size: 15px;
        line-height: 35px; 
    }
}

/* For tablets (up to 768px) */
@media screen and (max-width: 768px) {
    .wrapper {
        gap: 3rem; 
    }

    .switch {
        padding: .5rem; 
        width: 70%;
    }

    .button {
        width: 100%;
        font-size: 18px; 
        
    }

    .wrapper h1 {
        font-size: 30px;
        line-height: 16px;
    }

    .button p {
        font-size: 20px;
        line-height: 40px;
    }
}

